.wrapper {
    border: 3px solid red;
    padding: 5px;
    margin-top: 10px;
    display: flex;
    flex-direction: column;

    .field {
        border: 1px solid green;
        padding: 5px;
    }

    .btnShowPosts {
        font-size: 18px;
        padding: 10px 0;
    }

    .field, .btnShowPosts {
        margin: 5px;
    }
}