.main {
    height: 10vh;
    background-color: #ddeeff;
    display: flex;
    font-size: 32px;
    align-items: center;
}

.navTitle {
    margin-left: 10vw;
    width: 20%;
}

nav {
    width: 60%;
    display: flex;
    justify-content: space-evenly;
}